* {
  box-sizing: border-box;
}

html, body {
  bottom : 0;
  right: 0;
}

html {
  bottom: 0;
  position: fixed;
  right: 4%;
  height: 530px;
  width: 400px;
}


/*Containers*/
#root {
  background: -webkit-linear-gradient(to bottom , #E30A84 0%, #3E8BFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom , #E30A84 0%, #3E8BFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom , #E30A84 0%, #3E8BFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom , #E30A84 0%, #3E8BFF); /* Standard syntax */
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0px 0px 7px black;

}
.appContainer {
  width : 100%;
  position : relative;
  text-align: center;
  height: 100%;
  background: none;
  margin :  0 auto;
}

.chatAppContainer {
  height: 530px;
  width: 400px;
  text-align: center;
  font-family: 'ubuntu';
  margin : 0 auto;
  background: none;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* ChatBox && SendBox */
.chatAppContainer > div {
  margin : 0 auto;
  padding : 1%;
  direction : rtl;
}

/* ChatBox */
.chatAppContainer > div:nth-child(1) {
  height: 85%;
  color : white;
}

.chatBox {
  overflow-y: scroll;
}

.chatBox::-webkit-scrollbar {
  opacity: 0;
}

.chatBox > header {
  font-size:20px;
  font-family: 'Bree Serif'
}

/* SendBox */
.chatAppContainer > div:nth-child(2) {
  height: 15%;;
  background-color: rgba(31, 103, 159, 0.55);
  font-family: 'Roboto', sans-serif;
  color : white;
  padding : 0px;
  border-radius : 17px;
  width: 80%;
  height: 54px;
  padding : 2%;
  opacity: 65%;
  margin-left : 2%;

}

/* Messages that sended and recieved */
.quotas {
  color : black;
  text-align: left;
  margin : 0% !important;
  border-radius: 0% !important;
}

.quotas > span > span:nth-child(1) {
  font-weight: bold;
  padding-right: 10px;
}
.quotas > span > span:nth-child(1):after {
  content : " :"
}
.quotas > span > span:nth-child(3) {
  float : right;
}

/* Setting form and input setting */
form {
  height: 100%;
  width: 100%;
  opacity: 0.65
}

form > input , form > input:focus  {
  background : none;
  border : none;
  width : 100%;
  height: 100%;
  padding : 10px;
  outline: none;
  color : white;
  font-size: 18px;
  direction: ltr;
  font-weight: 300;
}

form > input::placeholder {
  color : white;
}

/*image*/
#sendImage {
  background: url('http://localhost:8000/assets/images/6.png');
  width: 35px;
  height: 30px;
  position: relative;
  top: -38px;
  right: -55px;
  background-size: cover;
  direction: rtl;
}

#isTyping {
  position: relative;
  top: -24px;
  direction: ltr;
  font-size: 'Roboto';
  font-size: 10px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  left : 10px;
  font-weight: 100;
}

.circle {
  width: 5px;
  height: 5px;
  background-color : white;
  border-radius : 50%;
  display: inline-block;
  margin-left : 1px;
}

/* Header */
header {
  direction: ltr;
}

header > div {
  display: inline-block;
  direction: ltr;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

/* User Detail */
.userDetail {
  position: absolute;
  margin-left: -180px;
  font-size: 18px;
  margin-top: 10px;
}

.userDetail > span > .circle {
  width: 7px;
  height: 7px;
  background-color: #1EFFED
}

.userDetail > span > span:nth-child(2) {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.02em;
  margin-left: 3px;
}

.userDetail > span > span:nth-child(3) {
  opacity: 0.76;
  font-size: 12px;
  margin-left: 3px
}

/* User Job */
.userJob {
  margin-left: 70px;
  position: absolute;
  margin-top : 7px;
}

.userJob > span > span:nth-child(3) {
  opacity: 0.56;
  font-size: 12px;
  margin-top: -3px;
  padding: 0px;
  margin-left: -20px;
  position: absolute;
}

/* User Image */
.userImageContainer {
  margin-left: -67px;
  margin-top: -50px;
  position: absolute;
}

.userImage {
  background : url('http://localhost:8000/assets/images/2.jpg');
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 100;
}

.chatMessagesContainer {
  margin-top: 70px;
  font-size: 10px;
  text-align: left;
  font-family: 'Roboto';
}

.leftMsgContainer {
  direction: ltr;
}

.rightMsgContainer {
  direction: rtl;
  margin-right: 37px;
}

.leftMsg , .rightMsg {
  max-width: 40%;
  background: #002D56;
  border-radius: 13px;
  margin-left: 25px;
  padding-left: 9px;
  padding-bottom: 9px;
  padding-right: 10px;
  padding-top: 17px;
}

.rightMsg {
  direction: ltr;
  padding-left: 2px;
}

.leftMsg > div:nth-child(1) ,
.rightMsg > div:nth-child(1)
{
  width: 25px;
  height: 25px;
  position: absolute;
  background: url('http://localhost:8000/assets/images/2.jpg');
  background-size: cover;
  border-radius: 50%;
  margin-left: -38px;
  margin-top: -20px;
  font-size: 7px;
}

.rightMsg > div:nth-child(1) {
  margin-left: 141px;
}

.leftMsg > span > span:nth-child(1),
.rightMsg > span > span:nth-child(1)
{
  position: absolute;
  font-size: 7px;
  margin-top: -13px;
  margin-left: 84px;
  color: #fdfdff;
}

.leftMsg > span > span:nth-child(2),
.rightMsg > span > span:nth-child(2)
{
  position: absolute;
  margin-top: -13px;
  margin-left: 4px;
  color: #ffffff;
  font-size: 7px;
}

.leftMsg > span > span:nth-child(3),
.rightMsg > span > span:nth-child(3) {
  word-wrap: break-word;
}
